__pycache__/
*.pyc
*.pyo
*.swp
*.tmp
*.log

debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/oyo-portable-usb-creator/
debian/*.debhelper
debian/*.substvars

../*.deb
../*.build
../*.buildinfo
../*.changes
../*.dsc
../*.tar.xz

*.deb
*.build
*.buildinfo
*.changes
*.dsc
*.tar.xz
