Source: oyo-portable-system-creator
Section: utils
Priority: optional
Maintainer: OYO Team <devnull@example.com>
Standards-Version: 4.6.2
Build-Depends: debhelper-compat (= 13), python3

Package: oyo-portable-system-creator
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}, python3-pyqt6, rsync, grub-pc-bin, grub-efi-amd64-bin
Description: Portable system creator for open.Yellow.os
