Package: oyo-portable-system-creator
Version: 0.5.0
Architecture: all
Maintainer: OYO Team <devnull@example.com>
Installed-Size: 151
Depends: python3:any, python3-pyqt6, rsync, grub-pc-bin, grub-efi-amd64-bin, cryptsetup, cryptsetup-initramfs
Section: utils
Priority: optional
Description: Portable system creator for open.Yellow.os
